<div class="container-fluid"><h1>Funcionarios <button href="#" [routerLink]="['/funcionarios', 'new']" type="button" class="btn btn-primary">
    Adicionar
  </button></h1>

  <div id="notificationMessage" *ngIf="!funcionarios" class="alert alert-da" role="alert">
      Lista de funcionarios vazia
    </div>

  <table *ngIf="funcionarios" class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">dataNascimento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <th scope="row">{{funcionario.id}}</th>
          <td>{{funcionario.name}}</td>
          <td>{{funcionario.cpf}}</td>
          <td>{{ funcionario.dataNascimento }}</td>
          
        </tr>
      </tbody>
    </table>

</div>