<div class="container-fluid"><h1>New Funcionario</h1>

    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
            <label for="funcionario_name">name</label>
            <input type="text" class="form-control" id="funcionario_name" name="name" placeholder="name completo" ngModel>
        </div>
        <div class="form-group">
            <label for="funcionario_dataNascimento">Data de Nascimento</label>
            <input type="text" class="form-control" id="funcionario_dataNascimento" name="dataNascimento" placeholder="DD/MM/AAAA" ngModel>
        </div>
        <div class="form-group">
            <label for="funcionario_cpf">CPF</label>
            <input type="text" class="form-control" id="funcionario_cpf" name="cpf" placeholder="CPF" ngModel>
        </div>
        
        <div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
    </form>

    <a [routerLink]="['/funcionarios']">Voltar</a>
</div>