
  <div class="container-fluid"><h1>Edit Equipamento</h1>
    <div class="form">
      <form *ngIf="equipamento" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="form-group">
              <label for="equipamentos_name">Nome</label>
              <input type="text" class="form-control" id="equipamentos_name" name="name" placeholder="Nome Completo" [ngModel]="equipamento.name">
          </div>
          <div class="form-group">
              <label for="equipamentos_peso">Peso</label>
              <input type="text" class="form-control" id="equipamentos_peso" name="peso" placeholder="0" [ngModel]="equipamento.dataNascimento">
          </div>
          <div class="form-group">
              <label for="equipamentos_tipo">Tipo</label>
              <input type="text" class="form-control" id="equipamentos_tipo" name="tipo" placeholder="Tipo" [ngModel]="equipamento.cpf">
          </div>
          <div class="form-group">
            <label for="equipamentos_relefone">Descrição</label>
            <input type="text" class="form-control" id="equipamentos_descricao" name="descricao" placeholder="Descrição" [ngModel]="equipamento.descricao">
        </div>
        
         
        <div>
          <button type="submit" class="btn btn-primary">Atualizar</button>
          <button type="button" class="btn btn-success"> <a [routerLink]="['/equipamentos']">Voltar</a></button>
        </div>
        </form>
    
      </div>
      </div>