<!----<div class="container-fluid">
<div class="row" style="padding:13px"><h1>Menu</h1></div>
  <div class="row"><ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/funcionarios']">Funcionarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/']">clientes</a>
      </li>
      <li class="nav-item">
       <a class="nav-link active" [routerLink]="['/equipamentos']">Equipamentos</a>
      </li>
    </ul></div>
  </div>
-->


<div>
    <img id="logo-01" src="/all.png">
</div>