<div class="container-fluid"><h1>equipamento <button href="#" [routerLink]="['/equipamento', 'new']" type="button" class="btn btn-primary">
  Adicionar
</button></h1>

<div id="notificationMessage" *ngIf="equipamento.length == 0" class="alert alert-da" role="alert">
    Lista de equipamento vazia
  </div>

<table *ngIf="equipamento.length >= 1" class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">CPF</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipamento of equipamentos">
        <th scope="row">{{equipamento.id}}</th>
        <td>{{equipamento.name}}</td>
        <td>{{equipamento.cpf}}</td>
        <td>{{ equipamento.datanascimento</td>


      </tr>
    </tbody>
  </table>

</div>