<div class="container-fluid"><h1>Cadastrar Equipamento</h1>
    <div class="form">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group">
            <label for="equipamento_name">Nome</label>
            <input type="text" class="form-control form-control-sm" id="equipamento_name" name="name" placeholder="Nome Completo" ngModel>
        </div>
        <div class="form-group">
            <label for="equipamento_peso">Peso</label>
            <input type="text" class="form-control form-control-sm" id="equipamento_peso" name="peso" placeholder="10" ngModel>
        </div>
        <div class="form-group">
            <label for="equipamento_tipo">Tipo</label>
            <input type="text" class="form-control form-control-sm" id="equipamento_tipo" name="tipo" placeholder="" ngModel>
        </div>
        <div class="form-group">
            <label for="equipamento_descricao">Descrição</label>
            <input type="text" class="form-control form-control-sm" id="equipamento_descricao" name="descricao" placeholder="" ngModel>
        </div>
        
        
        <div>
        <button type="submit" class="btn btn-warning">Adicionar</button>
        <button type="button" class="btn" style="background-color: black"> <a [routerLink]="['/equipamentos']" style="color: white">Voltar</a></button>
        </div>
    </form>

   
    </div>
</div>