<div class="container-fluid" style="color: yellow">

    
  <h1 style = "text-align: center">Equipamentos </h1>
  
<div id="notificationMessage" *ngIf="!equipamentos" class="alert alert-da" role="alert">
Lista de equipamentos vazia
</div>
<div class="form">
<table *ngIf="equipamentos" class="table table-striped"  style="text-align: center" >
<thead>
<tr style="color:black">
<th scope="col">ID</th>
<th scope="col">Nome</th>
<th scope="col">Peso</th>
<th scope="col">Tipo</th>
<th scope="col">Descrição</th>
</tr>
</thead>
<tbody style="color: black;" >
<tr *ngFor="let equipamento of equipamentos" style="background-color: white">
<th scope="row">{{equipamento.id}}</th>
<td>{{equipamento.name}}</td>
<td>{{equipamento.peso}}</td>
<td>{{ equipamento.tipo }}</td>
<td>{{ equipamento.descricao }}</td>


<td>
  <div class="btn-group-sm" role="group" aria-label="Basic example">
  <button type="button" href="#" (click)="show(equipamento.id)" class="btn btn-success">Visualizar</button>
  <button type="button" href="#" (click)="edit(equipamento.id)" class="btn btn-secondary">Editar</button>
  <button type="button" href="#" (click)="destroy(equipamento.id)" class="btn btn-danger">Deletar</button>
  </div>
</td>

</tr>
</tbody>
</table>

<button href="#" [routerLink]="['/equipamentos', 'new']" type="button" class="btn btn-warning" style="margin-left: 47%">
Adicionar
</button>
</div>

</div>