
    h1{
        border-bottom: 2px rgb(223, 223, 223);
        font-weight: bolder;
        font-family: 'Arial Black', Arial, Helvetica, sans-serif;
        text-align: center;
        color: yellow;
    }

    .form{
        margin-top: 3%;
        margin-left: 7%;
        margin-right: 7%;
         padding: 2%;
         background-color:white;
         opacity: 0.8;
        }