<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
  <a class="navbar-brand" href="http://localhost:4200/dashboard"><img src="logo-sisgym4.png" width="250"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/funcionarios']">Funcionarios</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/']">Clientes</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/equipamentos']">Equipamentos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" [routerLink]="['/academias']">Academias</a>
      </li>

    </ul>
  </div>
</nav>
<br>
<div class="container-fluid">
<div id="notificationMessage" *ngIf="message" class="alert alert-primary" role="alert">
      {{message}}
    </div>
  </div>

  

<router-outlet></router-outlet>